 html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px; 
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}

main:has(.back-link) {
  text-align: center;
} 

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}



main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 20px;
}

.form {
  display: flex;
  justify-content: center;
  margin-top: 36px;
  align-items: center;
}
.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 32px;
  gap: 24px;
  row-gap: 24px;
}

.gallery-item {
  display: block;
  width: 360px;
  height: 200px;
  justify-content: center;
  text-align: center;
  border: 1px solid #808080;
}

img {
  display: block;
  width: 360px;
  height: 152px;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
  width: 360px;
  height: 48px;
  font-family: var(--font-family);
  font-weight: 400;
}

p {
  display: block;
}

input {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 36px;
}

input::placeholder {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
}

 input:hover {
  border: 1px solid #000000;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  border: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-left: 8px;
}
.loader {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: block;
  margin: 15px auto;
  position: relative;
  color: #4e75ff;
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
}

@keyframes animloader {
  0% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 -2px;
  }

  25% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 2px;
  }

  50% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 -2px, -14px 0 0 2px, -38px 0 0 -2px;
  }

  75% {
    box-shadow: 14px 0 0 2px, 38px 0 0 -2px, -14px 0 0 -2px, -38px 0 0 -2px;
  }

  100% {
    box-shadow: 14px 0 0 -2px, 38px 0 0 2px, -14px 0 0 -2px, -38px 0 0 -2px;
  }
}



 .load-more {
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 8px;
   padding: 8px 16px;
   width: auto;
   height: 40px;
   margin: 40px auto 0;   
   white-space: nowrap;   
   background: #4e75ff;
   border: none;
   color: #ffffff;
   font-family: var(--font-family);
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.04em;
   cursor: pointer;
 }